.tambah-kolam-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-top: 10px;
    position: relative;
    background-color: #E0F7FA;
}

.tambah-kolam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 800px;
}

.tambah-kolam-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.tambah-kolam-title {
    color: #01A5A0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.tambah-kolam-underline {
    width: 91px;
    height: 3px;
    background: #01A5A0;
    border-radius: 3px;
}

.tambah-kolam-paper {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.tambah-kolam-info {
    margin-bottom: 20px;
    text-align: center;
}

.tambah-kolam-input {
    margin-bottom: 20px;
}

.tambah-button {
    background-color: #348F7D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.tambah-button:hover {
    background-color: #2b7464;
}

.tambah-kolam-message {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-button svg {
    fill: #01A5A0;
    width: 24px;
    height: 24px;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .tambah-kolam-container {
        padding: 0 10px;
    }

    .tambah-kolam-title {
        font-size: 20px;
    }

    .tambah-kolam-paper {
        padding: 15px;
        margin-top: 15px;
    }

    .tambah-button {
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .back-button {
        top: 5px;
        left: 5px;
    }

    .back-button svg {
        width: 20px;
        height: 20px;
    }
}